<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>

    <style>
        /*  */
    </style>
</head>
<body>
    
    <h1>Elastic-Manager</h1>
    
    <hr>

    <h2>URLs:</h2>
    <ul class="urls">
        <li><a href="/api/v1/getIndices" target="_blank">getIndices</a> - возвращает все индексы</li>
        <li><a href="/api/v1/createIndex" target="_blank">createIndex</a> - создает актуальный индекс</li>
        <li><a href="/api/v1/deleteIndex" target="_blank">deleteIndex</a> - удаляет актуальный индекс</li>
    </ul>
    
</body>
</html>